<body>
    <div id = "Overzicht van de regels" class="rulespage">
        <h3>Dit zijn de regels omtrent het Coronavirus: </h3>
            <ul>
                <li>Voor iedereen geldt: blijf en werk zoveel mogelijk thuis.</li>
                <li>Bij koorts moet het volledige huishouden thuisblijven.</li>
                <li>Er mogen niet meer dan drie mensen op bezoek komen.</li>
                <li>Schud geen handen.</li>
                <li>Verpleeghuizen in de ouderenzorg zijn gesloten voor bezoekers. </li>
            </ul>
        
        <div class="img-wrapper">
            <img src="https://www.rijksoverheid.nl/binaries/large/content/gallery/rijksoverheid/content-afbeeldingen/onderwerpen/coronavirus/posters-jpg/200506-nkc-maatregelen-rgb-a4-page-001.jpg" alt="Diagram corona maatregelen">
        </div>
    </div>
</body>

