<mat-toolbar color="primary">
    <span>Corona App</span>
    <span class="toolbar_fill_remaining_space"></span>
    <button mat-button position="right" color=#333>Login</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" position="start" mode="side" opened>
        <mat-list>
            <mat-list-item>Inside mat-sidenav</mat-list-item>            
            <mat-list-item><button mat-button>Option 1</button></mat-list-item>
            <mat-list-item><button mat-button>Option 2</button></mat-list-item>
            <mat-list-item><button mat-button>Option 3</button></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-front-page></app-front-page>
    </mat-sidenav-content>

</mat-sidenav-container>