<div class="CalDiv">
  <p>
    <full-calendar 
        [plugins]="calendarPlugins"
        defaultView="dayGridMonth" 
        (dayRender) = "dayRender($event)"
        [weekends] = "true"
        [events]="[
        { title: 'Presentatie eindopdracht', 
          date: '2020-05-13',
          allDay: true,
          editable: true,
          color: 'orange',
          eventStartEditable: true
        },
        { title: 'Persconferentie Maatregelen', 
          date: '2020-05-06',
          allDay: true,
          editable: true,
          color: 'purple',
          eventStartEditable: true
        },
        { title: 'Basisscholen gedeeltelijk open', 
          date: '2020-05-11',
          allDay: true,
          editable: true,
          color: 'purple',
          eventStartEditable: true
        },
        { title: 'Kinderen tot 12 jaar weer sporten', 
          date: '2020-04-29',
          allDay: true,
          editable: true,
          color: 'purple',
          eventStartEditable: true
        },
        { title: 'Eind verbod evenementen', 
          date: '2020-09-01',
          allDay: true,
          editable: true,
          color: 'purple',
          eventStartEditable: true
        }
      ]"
    ></full-calendar>
  </p>
</div>